@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* ,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik";
}

body {
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
}

.app {
    max-width: 600px;
    overflow-y: scroll;
    margin: 0 auto;
}
h1, h2 {
    font-size: 2rem;
    color: rgb(46, 46, 114);
    margin-bottom: 25px;
    text-align: center;
}
h2 {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
  margin-top: 1.5rem;
}

label {
    display: block;
    color:rgb(134, 140, 146);
    font-weight: 500;
    margin-bottom: 5px;
}

.select,select ,input{
    font-size: 1rem;
    font-family: inherit;
    color:rgb(68, 79, 87);
    padding: 5px 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(236, 226, 226);
    outline: none;

}

.add_score > input,
.add_score > label {
    font-size: 16px;
    font-weight: 400;
}

.list {
    list-style-type: none;
    background-color: rgb(241, 250, 250);
    color: rgb(31, 27, 37);
    font-size: 1.5rem;
    opacity: 0.8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
}

.list__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(216, 203, 203);
    margin-bottom: 20px;
}

input {
    width: 100%;
}

.button {
    display: block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 6px;
    padding: 7px 30px;
    border: 0px;
    margin: 10px 0px;
    background-color: rgb(46, 46, 114);
    color: white;
}

.info {
  text-align: center;
  border-radius: 5px;
  background-color: rgb(245, 235, 224);
  font-size: 1.4rem;
  margin-top: 20px;
  color: rgb(156, 105, 105);
  
}

.loading {
  font-style: italic;
  font-weight: 700;
  text-align: center;
  opacity: 0.7;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  margin-top: 32px;
  max-width: 400px;
}

.btn_container button {
  padding: 7px 10px;
  border: 1px solid gray;
  border-radius: 1px;
  cursor: pointer;
  border-radius: 6px;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px
  }

  .span_two {
    grid-column: span 3;
  }

  .add_unit {
    border: none;
    border-bottom: 1px solid gray;
    background-color: white;
  }

  .success_message {
    text-align: center;
    margin-bottom: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgb(186, 233, 155);
    color: black;
    opacity: 0.9;
  }

  @media (min-width: 700px) {
    .add_score {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .add_score .btn {
        grid-column: 1 / 1;
    }
  }