@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* ,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik";
    font-size: 16px;
}

body {
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    background-color: rgb(252, 241, 252);
}

.app {
    max-width: 400px;
    overflow-y: auto;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  
}
h1, h2 {
    font-size: 1.5rem;
    line-height: 1;
    color: rgb(22, 22, 39);
    margin-bottom: 25px;
    text-align: center;
}
h2 {
  color: rgb(52, 158, 92);
  font-size: 1.1rem;
  text-transform: lowercase;
  text-align: center;
  margin-top: 1.5rem;
}

label {
    display: block;
    color:rgb(150, 156, 167);
    margin-bottom: 5px;
    font-size: 14px;
}

.select,select ,input{
    font-size: 1rem;
    font-family: inherit;
    color:rgb(116, 123, 129);
    padding: 5px 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(236, 226, 226);
    outline: none;

}

.add_score > input,
.add_score > label {
    font-size: 16px;
    font-weight: 400;
}

.list {
    list-style-type: none;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
    font-size: 1.5rem;
    opacity: 0.8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
}


.list__item {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid rgb(241, 227, 227);
    margin-bottom: 20px;
    color:rgb(10, 10, 10)
}

.list__item span:first-child {
  font-weight: 700;
  font-size: 14px;
}

.list__item span:last-child {
  font-size: 20px;
  color:rgb(12, 12, 12)
}

input {
    width: 100%;
}

.button {
    display: block;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
    padding: 7px 30px;
    border: 0px;
    margin: 10px 0px;
    background-color: rgb(49, 49, 54);
    color: white;
}

.button:hover {
     background-color: rgb(29, 29, 36);
}

.info {
  text-align: center;
  border-radius: 5px;
  background-color: rgb(245, 235, 224);
  font-size: 1.4rem;
  margin-top: 20px;
  color: rgb(156, 105, 105);
  
}

.loading {
  font-style: italic;
  font-weight: 700;
  text-align: center;
  opacity: 0.7;
}

.btn_container {
  margin-top: 20px;
}

.btn_container button {
  display: block;
  font-size: 14px;
  text-decoration: underline;
  color:rgb(44, 44, 156);
  background-color: inherit;;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px
  }

  .span_two {
    grid-column: span 3;
  }

  .add_unit {
    border: none;
    border-bottom: 1px solid gray;
    background-color: white;
  }

  .success_message {
    text-align: center;
    margin-bottom: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgb(186, 233, 155);
    color: black;
    opacity: 0.9;
  }


  @media (min-width: 700px) {
    .add_score {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .add_score .btn {
        grid-column: 1 / -1;
    }
  }